<div class="row">
  <div class="columns large-12">
    <h1>About</h1>
    <p>A simple Angular 4 application made using TypeScript, can be used to store a list of Products or Items and their descriptions.</p>
    <p>Some of the features of Angular 4 used in this app :</p>
    <ul class="features">
      <li>Components (Obviously)</li>
      <li>Use of Directives</li>
      <li>Services</li>
      <li>Routes</li>
      <li>Animations</li>
      <li>Form Handling (Template Driven Approach)</li>
      <li>String Interpolation, Property Binding, Two-Way data binding, Event Binding, etc</li>
    </ul>
  </div>
</div>